<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/index-styles.css}">
</head>
<body style="padding-top: 0; background-color: var(--bg-color); display: block; overflow-y: auto;">
    <!-- Contenido vacío por defecto aca vamos a agregar una vista primaria-->
	<link rel="icon" type="image/png" th:href="@{/images/ps.png}">
	<img th:src="@{/image/ps.png}" alt="Logo" style="width: 1200px;">
</body>
</html>